@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-ExtraBold.otf");
}
* {
  box-sizing: border-box;
  font-family: "Gilroy-Medium";
}
